server {
        listen 80;
        server_name {{ domain }};
        return 301 https://$host$request_uri;
}

server {
        listen 443 ssl http2;
        server_name {{ domain }};

        ssl_certificate /etc/ssl/certs/ssl-cert-snakeoil.pem;
        ssl_certificate_key /etc/ssl/private/ssl-cert-snakeoil.key;
        
        index index.html;
        
        root /www/{{ domain }};

        location / {

		}

        location /jsonrpc {
                proxy_pass http://127.0.0.1:6800;
        }

        location ~/downloads {
                autoindex on;
                autoindex_exact_size off;
        }
}
