continue
max-connection-per-server=16
min-split-size=1M
split=256
daemon=true
enable-rpc=true
rpc-listen-all=true
dir=/www/{{ domain }}/downloads
save-session=/home/www-data/.aria2/aria2.session
input-file=/home/www-data/.aria2/aria2.session
save-session-interval=15
